[ssh_connetion]
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s

[defaults]
host_key_checking  = False
private_key_file   = $INFRA_SSH_KEY 
interpreter_python = /usr/bin/python3
inventory          = inventory.py
remote_user        = root

[inventory]
enable_plugins = script
